@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

:root{
  --secondary-color: #1b1f24;
  --secondary-second-color: #22282f;
  --span-color: #075fe4;
  --text-color: #aeb5bf;
  --line-color: #5d6c83;
  --card-bg-color: #2d343f;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  scroll-behavior: smooth;
}

body{
  background-color: var(--secondary-color);
}

.App h1,
.App h2,
.App h3,
.App h4{
  color: white;
}

.App p{
  color: var(--text-color);
}

.span__title-marked{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.span__title-marked span{
  color: var(--span-color);
  font-weight: bold;
}

nav{
  height: 12vh;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: var(--secondary-color);
}

.nav__logo{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.nav__logo a{
  text-decoration: none;
}

.nav__options-overlay{
  transform: translateY(-100%);
  transition: transform 0.3s;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.nav__options-overlay ul{
  background-color: var(--secondary-second-color);
  width: 80%;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav__options-overlay ul li{
  list-style: none;
}

.nav__options-overlay ul li a{
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
  transition: 0.3s;
}

.nav__options-overlay ul li a:hover{
  color: white;
  transition: 0.3s;
}

.nav__options-show{
  transform: translateY(0);
}

.nav__hamburguer-menu{
  position: absolute;
  top: 0;
  right: 0;
  height: 12vh;
  width: 20%;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

#nav-icon3{
  width: 50%;
  height: 35.5%;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 10px;
}

#nav-icon3 span:nth-child(4) {
  top: 20px;
}

#nav-icon3.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}

/* Home */

.home__presentation{
  padding: 2rem;
  padding-top: 12vh;
}

.home__sqr{
  height: 50px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
}

.home__line-bar{
  height: 5px;
  width: 40%;
  background-color: white;
  border-radius: 0.5rem;
}

.home__presentation h1{
  margin-bottom: 0.5rem;
}

.home__contact-media{
  margin-top: 1rem;
}

.home__social-media ul{
  display: flex;
}

.home__social-media ul li{
  list-style: none;
}

.home__social-media ul li a{
  color: var(--text-color);
}

.home__social-media ul li a:focus{
  color: white;
}

.home__cv{
  margin-top: 0.5rem;
}

.home__cv a{
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
  width: fit-content;
  text-decoration: none;
}

.home__cv .home__line-bar{
  background-color: var(--line-color);
  width: 100%;
}

.home__profile-picture{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.home__profile-picture img{
  width: 200px;
}

/* About me */

.about-me__container{
  padding: 2rem;
  background-color: var(--secondary-second-color);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.about-me__about-me-container{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.about-me__technologies-container{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Portfolio */

.portfolio__container{
  padding: 2rem;
}

.portfolio__title-and-descritpion{
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.portfolio__projects-container{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* > Project Card */

.project-card__container{
  border-radius: 1rem;
  background-color: var(--card-bg-color);
  text-decoration: none;
}

.project-card__technologies-container{
  border-radius: 1rem 1rem 0 0;
  background-color: var(--secondary-second-color);
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.project-card__title-and-description{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.project-card__img{
  display: flex;
  height: fit-content;
}

.project-card__img img{
  width: 100%;
  border-radius: 0 0 1rem 1rem;
}

/* - */

.more-projects__title-and-description{
  margin-bottom: 1.5rem;
}

.more-projects__container{
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  gap: 1.5rem;
}

.more-projects__container .project-card__technologies-container img{
  width: 30px;
}

.more-projects__container .project-card__container{
  width: 220px;
}

.more-projects__container .project-card__img{
  display: flex;
  height: fit-content;
}

.more-projects__container .project-card__img img{
  width: 100%;
  border-radius: 0 0 1rem 1rem;
}

/* Contact */

.contact__container{
  padding: 2rem;
  background-color: var(--secondary-second-color);
}

.contact__form-container{
  margin-top: 1.5rem;
}

.contact__form-container form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact__form-container form input{
  border: none;
  border-bottom: 2px solid var(--line-color);
  width: 100%;
  height: 50px;
  background-color: var(--secondary-second-color);
  transition: 0.3s;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.contact__form-container form textarea{
  border: none;
  border-bottom: 2px solid var(--line-color);
  width: 100%;
  background-color: var(--secondary-second-color);
  transition: 0.3s;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.contact__form-container form input:focus,
.contact__form-container form textarea:focus{
  outline: none;
  border-bottom: 2px solid white;
  transition: 0.3s;
}

.contact__form-container button{
  border: none;
  font-weight: bold;
  color: white;
  background-color: transparent;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
  margin-top: 1rem;
  width: fit-content;
}

.contact__form-container .home__line-bar{
  height: 3px;
  width: 100%;
  background-color: var(--line-color);
}

.contact__git-container h2{
  margin-bottom: 1.5rem;
}

.git__contact-media-container{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.git__contact-media{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.git__contact-media a{
  text-decoration: none;
  color: var(--secondary-color);
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.git__contact-media .home__line-bar{
  height: 3px;
  width: 100%;
  background-color: var(--line-color);
  transition: 0.3s;
}

.git__contact-media .home__line-bar:hover{
  background-color: white;
  transition: 0.3s;
}

/* Footer */

.footer__container{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__social-media ul{
  display: flex;
}

.footer__social-media ul li{
  list-style: none;
}

.footer__social-media ul li a{
  color: var(--text-color);
  transition: 0.3s;
}

.footer__social-media ul li a:hover{
  color: white;
  transition: 0.3s;
}

.footer__menu-options ul{
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.footer__menu-options ul li{
  list-style: none;
}

.footer__menu-options ul li a{
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  transition: 0.3s;
}

.footer__menu-options ul li a:hover{
  transition: 0.3s;
  color: white;
}

.footer__about{
  text-align: center;
  margin-top: 2rem;
}